.footer {
  & {
    margin-top: 167px;
    background: $color-dark;
    color: $color-white;
  }
  &__body {
    padding: 96px 104px 242px 96px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__section-title {
    letter-spacing: .6px;
    margin-bottom: 16px;
    font-weight: 900;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__list-item {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    letter-spacing: .4px;
    cursor: pointer;
    line-height: 26px;
    font-weight: 500;
  }
  &__text--multi-line {
    white-space: pre-line;
  }
  &__text--after-icon {
    margin-left: 8px;
  }
  &__list-item:nth-child(1) {
    margin-top: 0;
  }
  &__icon {
    color: $color-blue;
    font-size: 22px;
  }
  &__social-list {
    display: flex;
  }
  &__social-link:not(:nth-child(1)) {
    margin-left: 8px;
  }
  &__rights {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: .4px;
  }
  &__social-list--mobile {
    position: absolute;
    top: 32px;
    right: 0;
    display: none;
  }
}

@media all and (max-width: $bp-mobile) {
  .footer {
    & {

    }
    &__social-section, &__rights {
      display: none;
    }
    &__social-list--mobile {
      display: flex;
    }
    &__body {
      flex-direction: column;
      align-items: flex-start;
      padding: 28px 0 56px 0;
    }
    &__section {
      margin-top: 56px;
    }
    &__products-section {
      margin-top: 0;
    }
    &__products-section &__list-item:not(:nth-child(1)) {
      margin-top: 4px;
    }
    &__about-section &__list-item:not(:nth-child(1)) {
      margin-top: 4px;
    }
    &__contact-section &__list-item:not(:nth-child(1)) {
      margin-top: 16px;
    }
  }
}
