.header {
  & {
    background-color: $color-white;
  }
  &__line {
    height: 3px;
    background-image: linear-gradient(to right, $color-blue, $color-white);
  }
  &__burger {
    display: none;
    font-size: 32px;
  }
  &__body {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: .02em;
  }
  &__nav {
    display: flex;
  }
  &__nav > :not(:nth-child(1)) {
    margin-left: 55px;
  }
  &__nav-link {
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: .4px;
  }
  &__nav-link--active {
    color: $color-blue;
  }
  &__location-icon {
    margin-right: 8px;
  }
  &__search {
    width: 255px;
    height: 40px;
    padding: 0 12px 0 12px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border: 2px solid $color-blue;
  }
  &__search-input {
    margin-left: 12px;
  }
}

@media all and (max-width: $bp-mobile) {
  .header {
    & {

    }
    &__search {
      display: none;
    }
    &__nav {
      display: none;
    }
    &__burger {
      display: block;
    }
    &__body {
      height: 52px;
    }
    &__logo {
      font-size: 24px;
    }
  }
}
