.products {
  & {
    margin-top: 180px;
  }
  &__container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  &__title {
    text-align: center;
    letter-spacing: .4px;
  }
  &__body {
    margin-top: 40px;
  }
  &__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 24px;
  }
  &__pagination {
    margin-top: 80px;
  }
}

@media all and (max-width: $bp-mobile) {
  .products {
    & {
      margin-top: 160px;
    }
    &__list {
      grid-template-columns: auto;
    }
    &__pagination {
      margin-top: 40px;
    }
  }
}
