$color-white: rgb(255, 255, 255);
$color-dark: rgba(58, 58, 58, 1);
$color-mute-1: rgba(58, 58, 58, 1);
$color-mute-2: rgba(137, 137, 137, 1);
$color-mute-3: rgba(244, 245, 247, 1);
$color-orange: rgba(232, 159, 113, 1);
$color-red: rgba(233, 113, 113, 1);
$color-light-orange: rgba(252, 248, 243, 1);
$color-green: rgba(46, 193, 172, 1);

$bp-desktop: 992px;
$bp-tablet: 768px;
$bp-mobile: 450px;

$font-size-base: 16px;

$font-size-h1: 56px;

