$font-size-base: 16px;

$font-size-h1: 40px;
$font-size-h2: 22px;
$font-size-h3: 18px;

$color-black: rgba(0, 0, 0, 1);
$color-dark: rgba(19, 18, 24, 1);
$color-blue: rgba(24, 104, 224, 1);
$color-green: rgba(24, 191, 111, 1);
$color-red-light: rgba(225, 35, 80, 1);
$color-red-dark: rgba(235, 58, 58, 1);
$color-yellow: rgba(255, 170, 4, 1);
$color-mute: rgba(239, 238, 238, 1);
$color-white: rgba(255, 255, 255, 1);
$color-white-2: rgba(249, 249, 249, 1);
$color-grey: rgba(196, 196, 196, 1);
$color-grey-2: rgba(154, 154, 154, 1);
$color-purple: rgba(188, 123, 217, 1);

$z-toggle-nav: 1000;
$z-footer-icons: 1;

$bp-mobile: 460px;
